# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_SOURCE_QUEUE=output_1c.queue
RABBITMQ_RESULT_QUEUE=input.queue
RABBITMQ_RESULT_EXCHANGE=input.events
RABBITMQ_HEARTBEAT=60

# 1C COM
ONEC_SERVER=localhost
ONEC_REF=YourBase
ONEC_USER=User
ONEC_PASSWORD=Password
ONEC_CONNECTOR_PROG_ID=V83.COMConnector

# Polling
POLL_INTERVAL_SEC=2
TASK_TIMEOUT_SEC=300
LOOP_SLEEP_SEC=0.2

# Logging
LOG_LEVEL=ERROR
LOG_MAX_BYTES=1048576
LOG_BACKUP_COUNT=5
LOG_FILE=service.log
